body {
  min-height: 100vh;
}

._draggable {
  -webkit-transform: translate(0, 0);
  -webkit-transition: -webkit-transform 500ms;
  transform: translate(0, 0);
  transition: transform 500ms;
}
._draggable > div:after,
._draggable > div {
  clear: both;
  content: " ";
  display: block;
}

._add-here {
  border-style: dashed;
}

._draggable-container {
  position: relative;
}

.displayNone {
  display: none !important;
}

._dragging {
  position: absolute;
  cursor: move;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 100;
}

@keyframes newAniamteDrop {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
    border-style: dashed;
  }
}
._dragged ._animate_drop {
  animation-name: newAniamteDrop;
  animation-duration: 0.5s;
  border: 1px dashed blue;
  height: 100%;
}

._draggable._dragged {
  border: none;
}
